{% extends 'base.html.twig' %}

{% block title %}Hello GalleryController!{% endblock %}

{% block body %}
 
 

<body>
	<div class="page-wraper">
	<!-- HEADER START -->
			<header class="site-header header-style-1">
				<div class="sticky-header main-bar-wraper">
					<div class="main-bar bg-white p-t5">
						<div class="container">
							<div class="logo-header">
								<div class="logo-header-inner logo-header-one">
									<a href="index.html">
										<img src="zarzis/images/zarzis_logo.png" alt=""/>
									</a>
								</div>
							</div>
							<!-- NAV Toggle Button -->
							<button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<!-- ETRA Nav -->
							<div class="extra-nav">
								<div class="extra-cell">
									<a href="#" class="contact-slide-show text-white">
										<i class="fa fa-envelope-o"></i>
									</a>
								</div>
								<div class="extra-cell">
									<a href="#search" class=" text-white">
										<i class="fa fa-search"></i>
									</a>
								</div>
								<div class="extra-cell">
									<a href="javascript:;" class="socialicon_show  text-white">
										<i class="fa fa-share-alt"></i>
									</a>
								</div>
							</div>
							<!-- ETRA Nav -->

							<!-- Social Nav -->
							<div class="social_hide">
								<div class="side-social-nav">
									<a href="javascript:void(0)" class="socialicon_close">&times;</a>
									<ul class="list-unstyled">
										<li>
											<a href="javascript:void(0);" class="fa fa-facebook">
												<span class="social-tooltip">Facebook</span>
											</a>
										</li>

										<li>
											<a href="javascript:void(0);" class="fa fa-linkedin">
												<span class="social-tooltip">Linkedin</span>
											</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="fa fa-google-plus">
												<span class="social-tooltip">Google Plus</span>
											</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="fa fa-instagram">
												<span class="social-tooltip">Instagram</span>
											</a>
										</li>
									</ul>
								</div>
							</div>

							<!-- Contact Nav -->
							<div class="contact-slide-hide">
								<div class="contact-nav">
									<a href="javascript:void(0)" class="contact_close">&times;</a>
									<div class="contact-nav-form p-a30">
										<form class="cons-contact-form" method="post" action="form-handler.php">
											<div
												class="contact-one m-b30">

												<!-- TITLE START -->
												<div class="section-head text-center">
													<h2 class="m-b5" data-title="Form">Get In Touch</h2>
												</div>
												<!-- TITLE END -->
												<div class="row">
													<div class="col-md-6">
														<div class="form-group wt-inputicon-box">
															<input name="username" type="text" required class="form-control" placeholder="Name">
															<i class="fs-input-icon sl-icon-user"></i>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group wt-inputicon-box">
															<input name="email" type="text" class="form-control" required placeholder="Email">
															<i class="fs-input-icon sl-icon-envolope-letter"></i>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group wt-inputicon-box">
															<textarea name="message" rows="3" class="form-control " required placeholder="Message"></textarea>
															<i class="fs-input-icon sl-icon-envolope"></i>
														</div>
													</div>
													<div class="col-md-12">
														<div class="text-center">
															<button name="submit" type="submit" value="Submit" class="btn-half site-button button-lg m-b15">
																<span>Submit</span>
																<em></em>
															</button>
														</div>
													</div>
												</div>
											</div>
										</form>
										<div
											class="contact-info text-black m-b30">
											<!-- TITLE START -->
											<div class="section-head text-center">
												<h2 class="m-b5" data-title="Info">Contact Info</h2>
											</div>
											<!-- TITLE END -->
											<ul>
												<li>
													<div class="wt-icon-box-wraper center p-b40">
														<div class="icon-md m-b20">
															<i class="sl-icon-phone"></i>
														</div>
														<div class="icon-content">
															<h5 class="m-t0 font-weight-500">Phone number</h5>
															<p>(456) 789 10 12</p>
														</div>
													</div>
												</li>

												<li>
													<div class="wt-icon-box-wraper center p-b40">
														<div class="icon-md m-b20">
															<i class="sl-icon-envolope-letter"></i>
														</div>
														<div class="icon-content">
															<h5 class="m-t0 font-weight-500">Email address</h5>
															<p>demo@gmail.com</p>
														</div>
													</div>
												</li>

												<li>
													<div class="wt-icon-box-wraper center">
														<div class="icon-md m-b20">
															<i class="sl-icon-map"></i>
														</div>
														<div class="icon-content">
															<h5 class="m-t0 font-weight-500">Address info</h5>
															<p>55/11 Land Street, Modern New Yourk City, USA</p>
														</div>
													</div>
												</li>

											</ul>
										</div>
									</div>
								</div>
							</div>
							<!-- SITE Search -->
							<div id="search">
								<span class="close"></span>
								<form role="search" id="searchform" action="/search" method="get" class="radius-xl">
									<div class="input-group">
										<input value="" name="q" type="search" placeholder="Type to search"/>
										<span class="input-group-btn">
											<button type="button" class="search-btn">
												<i class="fa fa-search"></i>
											</button>
										</span>
									</div>
								</form>
							</div>
							<!-- MAIN Vav -->
							<div class="header-nav navbar-collapse collapse">
								<ul class=" nav navbar-nav">
									<li class="active">
										<a href="{{ path('home') }}">LELLA MERIEM
										</a>
										<ul class="sub-menu">
											<li>
												<a href="index.html">About us</a>
											</li>

										</ul>
									</li>
									<li>
										<a href="{{ path('reservation') }}">RÉSERVATION
										</a>
										<ul class="sub-menu">
											<li>
												<a href="post-image.html">Search</a>
											</li>

										</ul>
									</li>
									<li class="submenu-direction">
										<a href="{{ path('gallery') }}">GALLERIE
										</a>

									</li>
									<li>
										<a href="{{ path('contact') }}">CONTACT</a>

									</li>

								</ul>
							</div>

						</div>
					</div>
				</div>
			</header>
			<!-- HEADER END -->
     
        <!-- CONTENT START -->
        <div class="page-content">
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center"  data-stellar-background-ratio="0.5"  style="background-image:url(zarzis/images/fff.jpg);">
            	<div class="overlay-main bg-black opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="text-white  font-80 font-weight-900"> Gallery</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="javascript:void(0);">Home</a></li>
                                    <li>Gallery </li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->
            
			<!-- SECTION CONTENT START -->
            <div class="section-full p-tb90 bg-gray">

                <!-- GALLERY CONTENT START -->
                <div class="container-fluid">
                    <!-- GALLERY CONTENT START -->
                     <div class="portfolio-wrap mfp-gallery work-grid row clearfix">
                        <!-- COLUMNS 1 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box ">
                                <div class="wt-thum-bx  img-center-icon  wt-img-overlay2">
                                    <img style=" height:220px;"src="zarzis/images/ggg.jpg" alt="">
                                    <div class="overlay-bx">
                                        <div class="overlay-icon">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-external-link wt-icon-box-xs "></i>
                                            </a>
                                            <a class="mfp-link" href="zarzis/images/ggg.jpg">
                                                <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                            </a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wt-info bg-white p-a20">
                                <h4 class="wt-tilte  m-b10 m-t0">Rooms & Halls</h4>
                             </div>                                        
                        </div>
                        <!-- COLUMNS 2 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box ">
                                <div class="wt-thum-bx img-center-icon  wt-img-overlay2">
                                    <img  style="height:220px;" src="zarzis/images/aqua_parc.jpg" alt="">
                                    <div class="overlay-bx">
                                        <div class="overlay-icon">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-external-link wt-icon-box-xs "></i>
                                            </a>
                                            <a class="mfp-link" href="zarzis/images/aqua_parc.jpg">
                                                <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                            </a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wt-info bg-white p-a20">
                                <h4 class="wt-tilte  m-b10 m-t0">To-Do Dashboard</h4>
                             </div>    
                        </div>
                        <!-- COLUMNS 3 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box ">
                                <div class="wt-thum-bx img-center-icon  wt-img-overlay2">
                                    <img style="height:220px;"  src="zarzis/images/ccc.jpg" alt="">
                                    <div class="overlay-bx">
                                        <div class="overlay-icon">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-external-link wt-icon-box-xs "></i>
                                            </a>
                                            <a class="mfp-link" href="zarzis/images/ccc.jpg">
                                                <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                            </a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wt-info bg-white p-a20">
                                <h4 class="wt-tilte  m-b10 m-t0">WhereTO App</h4>
                             </div>    
                        </div>
                        <!-- COLUMNS 4 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box ">
                                <div class="wt-thum-bx img-center-icon  wt-img-overlay2">
                                    <img  style="height:220px;" src="zarzis/images/fatroucha.jpg" alt="">
                                    <div class="overlay-bx">
                                        <div class="overlay-icon">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-external-link wt-icon-box-xs "></i>
                                            </a>
                                            <a class="mfp-link" href="zarzis/images/fatroucha.jpg">
                                                <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                            </a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wt-info bg-white p-a20">
                                <h4 class="wt-tilte  m-b10 m-t0">Rooms & Halls</h4> 
                            </div>    
                        </div>
                        <!-- COLUMNS 5 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                          <div class="wt-box ">
                                <div class="wt-thum-bx img-center-icon  wt-img-overlay2">
                                    <img  style="height:220px;" src="zarzis/images/fff.jpg" alt="">
                                    <div class="overlay-bx">
                                        <div class="overlay-icon">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-external-link wt-icon-box-xs "></i>
                                            </a>
                                            <a class="mfp-link" href="zarzis/images/ff.jpg">
                                                <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                            </a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wt-info bg-white p-a20">
                                <h4 class="wt-tilte  m-b10 m-t0">Events and More</h4> 
                            </div>    
                        </div>
                        <!-- COLUMNS 6 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box ">
                                <div class="wt-thum-bx  img-center-icon wt-img-overlay2">
                                    <img  style="height:220px;" src="zarzis/images/ff.jpg" alt="">
                                    <div class="overlay-bx">
                                        <div class="overlay-icon">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-external-link wt-icon-box-xs "></i>
                                            </a>
                                            <a class="mfp-link" href="zarzis/images/ff.jpg">
                                                <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                            </a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wt-info bg-white p-a20">
                                <h4 class="wt-tilte  m-b10 m-t0">Remind~Me More</h4> 
                            </div>    
                        </div>
                        <!-- COLUMNS 7 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box ">
                                <div class="wt-thum-bx  img-center-icon wt-img-overlay2">
                                    <img  style="height:220px;" src="zarzis/images/dji_0942_scaled.jpg" alt="">
                                    <div class="overlay-bx">
                                        <div class="overlay-icon">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-external-link wt-icon-box-xs "></i>
                                            </a>
                                            <a class="mfp-link" href="zarzis/images/dji_0942_scaled.jpg">
                                                <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                            </a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wt-info bg-white p-a20">
                                <h4 class="wt-tilte  m-b10 m-t0">Workout Buddy</h4> 
                            </div>    
                        </div>
                        <!-- COLUMNS 8 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box ">
                                <div class="wt-thum-bx img-center-icon  wt-img-overlay2">
                                    <img  style="height:220px;" src="zarzis/images/salon2.jpg" alt="">
                                    <div class="overlay-bx">
                                        <div class="overlay-icon">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-external-link wt-icon-box-xs "></i>
                                            </a>
                                            <a class="mfp-link" href="zarzis/images/salon2.jpg">
                                                <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                            </a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wt-info bg-white p-a20">
                                <h4 class="wt-tilte  m-b10 m-t0">Speed Detector</h4> 
                            </div>    
                        </div>
                        <!-- COLUMNS 9 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box ">
                                <div class="wt-thum-bx img-center-icon  wt-img-overlay2">
                                    <img  style="height:220px;" src="zarzis/images/bbbb.jpg" alt="">
                                    <div class="overlay-bx">
                                        <div class="overlay-icon">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-external-link wt-icon-box-xs "></i>
                                            </a>
                                            <a class="mfp-link" href="zarzis/images/bbbb.jpg">
                                                <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                            </a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wt-info bg-white p-a20">
                                <h4 class="wt-tilte  m-b10 m-t0">Generic Apps</h4> 
                            </div>    
                        </div> 
                        
                        <!-- COLUMNS 10 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box ">
                                <div class="wt-thum-bx img-center-icon  wt-img-overlay2">
                                    <img  style="height:220px;"  src="zarzis/images/aaa.jpg" alt="">
                                    <div class="overlay-bx">
                                        <div class="overlay-icon">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-external-link wt-icon-box-xs "></i>
                                            </a>
                                            <a class="mfp-link" href="zarzis/images/piscine_prive.jpg">
                                                <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                            </a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wt-info bg-white p-a20">
                                <h4 class="wt-tilte  m-b10 m-t0">Generic Apps</h4> 
                            </div>    
                        </div>       
                        <!-- COLUMNS 11 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box ">
                                <div class="wt-thum-bx img-center-icon  wt-img-overlay2">
                                    <img  style="height:220px;" src="zarzis/images/img_1215_scaled.jpg" alt="">
                                    <div class="overlay-bx">
                                        <div class="overlay-icon">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-external-link wt-icon-box-xs "></i>
                                            </a>
                                            <a class="mfp-link" href="zarzis/images/img_1215_scaled.jpg">
                                                <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                            </a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wt-info bg-white p-a20">
                                <h4 class="wt-tilte  m-b10 m-t0">Speed Detector</h4> 
                            </div>    
                        </div>
                                                             
                     </div>
                    <!-- GALLERY CONTENT END -->  
                </div>
                <!-- GALLERY CONTENT END -->
            
            </div>
            <!-- SECTION CONTENT END  -->

        </div>
        <!-- CONTENT END -->        	
		<!-- FOOTER START -->
			<footer
				class="site-footer footer-large footer-dark	footer-wide">

				<!-- FOOTER BLOCKES START -->
				<div class="footer-top overlay-wraper">
					<div class="overlay-main"></div>
					<div class="container">

						<div class="news-letter-footer">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="newsletter-f-left">
										<h4 class="text-uppercase m-t0 m-b10">Subscribe to our newsletter!</h4>
										<p>Never Miss Anything about us .
										</p>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="newsletter-f-right text-center">
										<form role="search" method="post">
											<div class="input-group">
												<input name="news-letter" class="form-control" placeholder="ENTER YOUR EMAIL" type="text">
												<span class="input-group-btn">
													<button type="submit" class="btn-half site-button button-lg">
														<span>Submit</span>
														<em></em>
													</button>
												</span>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="m-b10">
							<div class="wt-divider bg-gray-dark"></div>
						</div>
						<div
							class="row">
							<!-- ABOUT COMPANY -->
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div
									class="widget widget_about">
									<!--<h4 class="widget-title">About Company</h4>-->
									<div class="logo-footer clearfix p-b15">
										<a href="index.html"><img src="zarzis/images/zarzis_logo.png" alt=""></a>
									</div>
									<p class="max-w400">MAKE YOUR HOLIDAY BETTER .</p>

									<ul class="social-icons social-tooltips-outer  wt-social-links">
										<li>
											<a href="javascript:void(0);" class="fa fa-facebook">
												<span class="social-tooltips">Facebook</span>
											</a>
										</li>

										<li>
											<a href="javascript:void(0);" class="fa fa-linkedin">
												<span class="social-tooltips">Linkedin</span>
											</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="fa fa-google-plus">
												<span class="social-tooltips">Google Plus</span>
											</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="fa fa-instagram">
												<span class="social-tooltips">Instagram</span>
											</a>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="widget widget_services inline-links">
									<h4 class="widget-title">Our location
									</h4>
									<ul>
										<li><a href="about-1.html">zarzis ...</a></li>

									</ul>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="widget widget_services inline-links">
									<h4 class="widget-title">Useful links</h4>
									<ul>
										<li><a href="about-1.html">About us</a></li>
										<li><a href="post-gallery.html">Reservation</a></li>
										<li><a href="post-gallery.html">Gallery</a></li>
										<li><a href="project-detail.html">Contact</a></li>
									</ul>
								</div>
							</div>


							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="widget widget_services inline-links">
									<h4 class="widget-title"></h4>
									<ul>
										<li><a href="about-1.html"></a></li>
										<li><a href="post-gallery.html"></a></li>
										<li><a href="post-gallery.html"></a></li>
										<li><a href="project-detail.html"></a></li>
									</ul>
								</div>
							</div>


							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="widget widget_address_outer">
									<h4 class="widget-title">Contact Us</h4>
									<ul class="widget_address">
										<li>
											<i class="sl-icon-map text-primary"></i>
											92 Princess Road, parkvenue,Greater London, NW18JR, United Kingdom</li>
										<li>
											<i class="sl-icon-envolope-letter text-primary"></i>sharandemo@gmail.com</li>
										<li>
											<i class="sl-icon-phone text-primary"></i>(+0091) 912-3456-073</li>
										<li>
											<i class="sl-icon-printer text-primary"></i>(+0091) 912-3456-084</li>
									</ul>
								</div>
							</div>


						</div>
					</div>
				</div>
				<!-- FOOTER COPYRIGHT -->
				<div class="footer-bottom overlay-wraper">
					<div class="overlay-main"></div>
					<div class="container">
						<div class="row">
							<div class="wt-footer-bot-center">
								<p style="color: #ffffff">© 2020. Tous droits réservés. ZARZIS  HOLIDAYS made with ❤ by
									<a style="color: #878787" href="https://www.octaplus-technology.com/">
										Octa+ technology
									</a>.</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- FOOTER END -->
        <!-- BUTTON TOP START -->
		<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>            

    </div>


 
 
</body>

</html>

{% endblock %}
