{% extends 'base.html.twig' %}

{% block title %}Edit Appartement{% endblock %}

{% block body %}
    <h1>Edit Appartement</h1>

    {{ include('appartement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('appartement_index') }}">back to list</a>

    {{ include('appartement/_delete_form.html.twig') }}
{% endblock %}
