{% extends 'base.html.twig' %}

{% block title %}New Appartement{% endblock %}

{% block body %}
<div class="container mb-5 mt-5 ">
        <div class="row.justify-content-center">
            <div class="col-md-12">
                <h1 class="text-center">Create new Appartement</h1>
                {{ include('appartement/_form.html.twig') }}
                <a href="{{ path('appartement_index') }}">back to list</a>
            </div>
        </div>
    </div>
{% endblock %}
